body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(#94bbe9, #eeaeca);
    outline: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
}

@media (min-width:475px) {
    .container {
        max-width: 475px;
    }
}

@media (min-width:640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width:1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width:1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width:1536px) {
    .container {
        max-width: 1536px;
    }
}